@import "colors.css";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::selection {
    background: $looks-secondary;
    color: $ui-white;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 1.5em;
}
